body{
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

*:focus{
  outline: none;
}

header{
  margin: auto;
  padding: 36px;
  max-width: 90%;
  /* height: 100px; */
  background-image: linear-gradient(to right, #e6ebff, #00124d);
  text-align: center;
}

h1{
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
}

.butt{
  width: 90%;
  margin: auto;
}

.butt__add{
  /* margin: auto; */
  margin-top: -20px;
  margin-right: 40px;
  float: right;
  width: 125px;
  display: flex;
  border: 1px solid silver;
  border-radius: 10px;
  text-align: right;
  background-image: linear-gradient(to right, #00124d, white);
}
.butt__add:hover{
  cursor: pointer;
}

.butt__text{
  margin: 15px;
  font-weight: 700;
  color: #fff;
}

.butt_create{
  border-radius: 100%;
  padding: 10px;
  color: #fff;
  /* border: 3px solid silver; */
  font-size: 1.5em;
  font-weight: 700;
}